@import "src/styles/defaults";

.root {
  height: 65px;
  border-bottom: 1px solid #E6E6E6;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: $container-max-width;
    margin: 0 auto;

    .logo_black {
      width: 90px;
      height: 20px;
    }

    .links {
      margin-right: -24px;

      a {
        color: $gray_font_color;
        padding: 24px;
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 12px;

        &:hover {
          background: #e8e8e8;
          color: $hover-color;
        }
      }
    }
  }
}