@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$container-gap: 368px;
$hover-color: #00A4E5;
$white_font_color: white;
$white-btn-txt-color: white;
$blue-btn-bg: #00A4E5;
$gray_font_color: #48555B;
$container-max-width: 940px;

%open-sans-700-grey {
  font-family: "Open Sans";
  font-weight: 700;
  color: $gray_font_color;
}

%open-sans-400-grey {
  font-family: "Open Sans";
  font-weight: 400;
  color: $gray_font_color;
}

%band {
  height: 2px;
  width: 50px;
  background-color: $hover-color;
}

html,
body {
  margin: 0;
}

.root {
  overflow-x: hidden;
}



